In [1]:
import sys
from pathlib import Path

In [2]:
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root / "src"))

In [3]:
from iambalance import Purity, Oversampler

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('../test_db/stc_production.csv')
df.head()

,CD_REFERRAL_SOURCE,CD_ACS_REFERRAL_SOURCE,CD_CLOSING,ID_PROGRAM,ID_PROMIS_AGENCY,ID_CNNX_AGENCY,ID_CUR_PROGRAM_TYPE,CD_PROGRAM_TYPE,CD_PROGRAM_GROUP,CD_PROGRAM_CATEGORY,...,NBR_SA_FATALITY,NBR_PROMIS_GEN,NBR_PROMIS_EBM,NBR_PROMIS_FTR,NBR_PROMIS_NPR,NBR_PROMIS_MED,CD_PROMIS_CUR_TYPE,NBR_STAGE_ARI,NBR_STAGE_FSS,bin
0,15,1,6.0,341,342,0,630,6,16,3,...,0,0,0,1,0,1,1,0,1,train
1,3,0,7.0,595,199,8,883,4,8,2,...,0,1,0,0,0,0,2,0,1,train
2,3,0,1.0,156,200,59,480,4,8,2,...,0,2,0,0,0,0,2,0,2,train
3,17,2,1.0,500,195,17,788,4,8,2,...,0,2,0,0,0,0,2,0,2,train
4,3,0,1.0,157,201,23,481,4,8,2,...,0,1,0,0,0,0,2,0,1,test

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224197 entries, 0 to 224196
Columns: 167 entries, CD_REFERRAL_SOURCE to bin
dtypes: float64(5), int64(161), object(1)
memory usage: 285.7+ MB

In [7]:
df.drop(columns=['bin'], inplace=True)

In [8]:
df['CD_PROGRAM_GROUP'].value_counts()

CD_PROGRAM_GROUP
8     100445
5      30773
7      28961
6      19925
3       8520
4       6702
16      4972
0       4788
2       4459
12      2801
15      2444
13      2195
17      1805
10      1657
11      1343
1       1257
9        637
14       513
Name: count, dtype: int64

In [9]:
# Testing the fit_resample method
oversampler = Oversampler(['smote', 'random'], [0.5, 0.5], 1, 5)

In [10]:
# Testing _fit_resample_adasyn
oversampler._fit_resample_adasyn(df, 'CD_PROGRAM_GROUP', 500, 14)[
    'CD_PROGRAM_GROUP'].value_counts()

CD_PROGRAM_GROUP
14    500
Name: count, dtype: int64

In [11]:
# Testing _fit_resample_smote
oversampler._fit_resample_smote(df, 'CD_PROGRAM_GROUP', 500, 14)[
    'CD_PROGRAM_GROUP'].value_counts()

CD_PROGRAM_GROUP
14    500
Name: count, dtype: int64

In [12]:
# Testing _fit_resample_random
oversampler._fit_resample_random(df, 'CD_PROGRAM_GROUP', 500, 14)[
    'CD_PROGRAM_GROUP'].value_counts()

CD_PROGRAM_GROUP
14    500
Name: count, dtype: int64

In [13]:
df_resampled = oversampler.fit_resample(df, 'CD_PROGRAM_GROUP', 14)
df_resampled['CD_PROGRAM_GROUP'].value_counts()

CD_PROGRAM_GROUP
8     100445
5      30773
7      28961
6      19925
3       8520
4       6702
16      4972
0       4788
2       4459
12      2801
15      2444
13      2195
17      1805
10      1657
11      1343
1       1257
14      1023
9        637
Name: count, dtype: int64

In [14]:
oversampler.get_oversampled_fingerprint()

      index  method  iteration
0    224197   smote        0.0
1    224198   smote        0.0
2    224199   smote        0.0
3    224200   smote        0.0
4    224201   smote        0.0
..      ...     ...        ...
505  224702  random        4.0
506  224703  random        4.0
507  224704  random        4.0
508  224705  random        4.0
509  224706  random        4.0

[510 rows x 3 columns]

In [16]:
oversampler.get_oversampled_fingerprint().head(60)

     index  method  iteration
0   224197   smote        0.0
1   224198   smote        0.0
2   224199   smote        0.0
3   224200   smote        0.0
4   224201   smote        0.0
5   224202   smote        0.0
6   224203   smote        0.0
7   224204   smote        0.0
8   224205   smote        0.0
9   224206   smote        0.0
10  224207   smote        0.0
11  224208   smote        0.0
12  224209   smote        0.0
13  224210   smote        0.0
14  224211   smote        0.0
15  224212   smote        0.0
16  224213   smote        0.0
17  224214   smote        0.0
18  224215   smote        0.0
19  224216   smote        0.0
20  224217   smote        0.0
21  224218   smote        0.0
22  224219   smote        0.0
23  224220   smote        0.0
24  224221   smote        0.0
25  224222   smote        0.0
26  224223   smote        0.0
27  224224   smote        0.0
28  224225   smote        0.0
29  224226   smote        0.0
30  224227   smote        0.0
31  224228   smote        0.0
32  224229   smote        0.0
33  224230   smote        0.0
34  224231   smote        0.0
35  224232   smote        0.0
36  224233   smote        0.0
37  224234   smote        0.0
38  224235   smote        0.0
39  224236   smote        0.0
40  224237   smote        0.0
41  224238   smote        0.0
42  224239   smote        0.0
43  224240   smote        0.0
44  224241   smote        0.0
45  224242   smote        0.0
46  224243   smote        0.0
47  224244   smote        0.0
48  224245   smote        0.0
49  224246   smote        0.0
50  224247   smote        0.0
51  224248  random        0.0
52  224249  random        0.0
53  224250  random        0.0
54  224251  random        0.0
55  224252  random        0.0
56  224253  random        0.0
57  224254  random        0.0
58  224255  random        0.0
59  224256  random        0.0